<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-sm-11 align-self-center text-center">

            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Lista de Personajes</h1>
                    <hr class="my-4" />

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Imagen</th>
                                <th scope="col">Nombre</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let character of characters">
                                <td><img [src]="character.image" style="height: 1rem;"></td>
                                <td>{{ character.name }}</td>
                                <td><button type="button" class="btn btn-outline-primary btn-sm"><i class="far fa-address-card"></i></button></td>
                                <td><button type="button" class="btn btn-outline-success btn-sm"><i class="fas fa-star"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <app-paginacion [url_previous]="url_previous" [url_next]="url_next" (onClick)="callNewPage($event)"></app-paginacion>
                </div>
            </div>
        </div>
    </div>
</div>